{% extends 'admin_base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'admin/_admin-page_header.html.twig' with {
            icon: 'manage_accounts',
            title: 'Modification de ' ~ user.fullname,
        } %}
        <div class="content">
            {{ include('admin/user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}