<form method="post" class="form-button" action="{{ path('admin.equipment.delete', {'id': equipment.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet équipement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="small-btn-danger icon-btn" type="submit">{{ icon('delete') }}</button>
</form>