<form method="post" class="form-button" action="{{ path('admin.equipment.delete', {'id': equipment.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="small-btn-danger icon-btn" type="submit">{{ feather('trash') }}</button>
</form>