{% extends 'admin_base.html.twig' %}

{% block title %}Nouveau matériel{% endblock %}

{% block body %}
    <div class="container">
        {% include 'admin/_admin-page_header.html.twig' with {
            icon: 'camera_alt',
            title: 'Ajouter du matériel',
        } %}
        <div class="content">
            {{ include('admin/equipment/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
