{% extends 'base.html.twig' %}

{% set lightBody = true %}
{% set headerLight = true %}

{% block body %}
    <div class="page-header container">
        <div class="stack w100">
            <h1 class="h1">Informations générales</h1>
        </div>
    </div>
    <div class="layout-sidebar py5" style="--gap: 5">
        <main class="stack-large">
            {% if conflicts is defined %}
                <div class="mb2">
                    <alert-block
                            alert-title="Équipement(s) non diponible"
                            message="{% for conflict in conflicts %}{% if conflict.isConflict %}<p><strong class='bold'>{{ conflict.message }}</strong>{% else %}{{ conflict.message }}{% endif%} </p>{% endfor %}"
                            class="alert-warning"
                    ></alert-block>
                </div>
            {% endif %}
            {{ include('pages/order/_new_order_form.html.twig') }}
        </main>
        <aside class="stack">

        </aside>
    </div>


{% endblock %}

