<h1>Bonjour ! Confrimer votre email</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant ici: <br><br>
    <a href="{{ signedUrl }}">Confrimer</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci
</p>
