{% extends 'base.html.twig' %}


{% block body %}
    <div class="container py5">
        <div class="hstack flex-end pb5">
            <div class="filters" data-controller="filter">
                <a href="#" class="filter-btn js-toggle-filter">
                    {{ feather('filter') }} Filtrer
                </a>
                {{ include('components/_filter.html.twig') }}
            </div>
        </div>
        <div class="hardware">
            <div class="equipment-hero">
                <h1 class="hero-title">
                    Tous <strong>l'équipement.</strong>
                </h1>
                <p class="hero-text">
                    Photo, vidéo, enregistrement audio, etc...<br>Tous ce dont vous avez besoins, se trouve ici.
                </p>
            </div>
            {% for equipment in equipments %}
                {{ include('components/_equipment_card.html.twig') }}
            {% else %}
                <div class="">
                    <div class="card__body stack">
                        <h2 class="card__title">
                            <span>Aucun n'équipement ne corresponds à vos critères</span>
                        </h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}