{% extends 'admin_base.html.twig' %}

{% block title %}Modifier l'équipement de salle{% endblock %}

{% block body %}
    <div class="container">
        {% include 'admin/_admin-page_header.html.twig' with {
            icon: 'meeting_room',
            title: 'Modifier l\'équipement de salle',
        } %}
        <div class="content">
            {{ include('admin/room/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
