{% extends 'admin_base.html.twig' %}

{% block body %}
<div class="container">
    <div class="admi-page__page-header">
        <div class="title">
            <span class="icon material-icons-round">
                dashboard
            </span>
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="content">
        <h1>Cette page est en construction</h1>
    </div>
</div>
{% endblock %}