{% extends 'admin_base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'admin/_admin-page_header.html.twig' with {
            icon: 'bookmark',
            title: 'Type d\'équipement',
            button: {
                path: 'admin.type.new',
                label: 'Ajouter un type d\'équipement'
            }
        } %}
        <div class="content">
            <table class="table js-search-table" style="margin: 20px 0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for type in types %}
                    <tr>
                        <td>{{ type.id }}</td>
                        <td>{{ type.name }}</td>
                        <td>
                            <a class="small-btn" href="{{ path('admin.type.edit', {'id': type.id}) }}">Modifier</a>
                            {{ include('admin/type/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun type enregistré</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
