.card, %card {
  background: var(--card-bg, var(--background-light));
  border: 1px solid var(--border);
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 3px;
  transition: 0.3s;
}

.card__link {
  display: block;
  position: absolute!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2!important;
  border: 1px solid transparent;
  transition: .3s;
  border-radius: 3px;
  cursor: pointer;
}
