flash-message{
  position: fixed;
  left: space(3);
  width: fit-content;
  transition-duration: .4s;
  bottom: -100%;
  visibility: hidden;
  background-color: var(--background-light);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: space(1) 0;

  & > div {
    display: flex;
    align-items: center;
    color: #272727;
    font-weight: 500;
    padding: space(1.5) space(3) space(1.5) space(2);
    margin-left: space(1);
    position: relative;

    &::before{
      content: '';
      height: 80%;
      width: 3px;
      background-color: var(--flash-color);
      border-radius: 5px;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.visible{
    bottom: space(3);
    visibility: visible;
  }

  span{
    word-break: keep-all;
  }



  .icon{
    height: 35px;
    width: 35px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: space(2);

    svg{
      stroke: var(--flash-color);
    }
  }
}