:root {
  --primary: #f96669;
  --primary-light: #ffaeaf;
  --color-light: #f9666999;
  --secondary: #f7fafd;
  --contrast: #ff242a;
  --background-light: #FFFFFF;
  --color-inversed60: #effbec99;
  --background: #f7fafb;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --success: #38ce35;
  --error: #e01313;
  --pending: #ce7535;
  --passed: #1c6fe1;
  --space: 8px;
  --border: #d5e3ec;
  --shadow: #d8e1e8;
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}
@media only screen and (min-width: 1370px) {
  :root {
    --container-width: 1330px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
}

form {
  display: block;
}

select,
input {
  font-size: inherit;
  font-family: inherit;
}

pre {
  font-family: monospace;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}

hr {
  height: 1px;
  background: var(--border);
  margin: 0;
  padding: 0;
  border: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex.flex-start {
  justify-content: flex-start;
}
.flex.flex-end {
  justify-content: flex-end;
}

@media (min-width: 500px) {
  .flex-md {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.w100 {
  width: 100%;
}

body, input, button {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.small-text, small {
  font-size: 0.9rem;
}

.text-success {
  color: var(--success);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-inversed {
  color: var(--color-inversed);
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

a.underline:hover {
  text-decoration: none;
}

.reader-only {
  display: none;
}

.text-danger {
  color: var(--error);
}

.text-muted {
  color: #a7b0d5;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-big {
  font-size: 1.1em;
}

.ignore-br br {
  display: none;
}

.link {
  transition: color 0.3s;
}

.link:hover {
  color: var(--contrast);
  text-decoration: underline;
}

.page-warper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stack,
.stack-large,
.stack-separated {
  --gap: 2;
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  grid-gap: calc(var(--gap) * var(--space));
}
.stack > *,
.stack-large > *,
.stack-separated > * {
  min-width: 0;
}

.stack-large {
  --gap: 4;
}

.stack-separated {
  --gap: 3;
  --gap-separated: var(--gap);
  grid-gap: calc(var(--gap) * var(--space) * 2);
}

.stack-separated > * + * {
  position: relative;
}

.stack-separated > * + *::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: var(--border-light);
  top: calc(var(--gap-separated) * var(--space) * -1);
}

.hstack {
  display: flex;
  flex-wrap: wrap;
  --gap: 2;
  margin: calc(var(--gap) * var(--space) * -0.5);
  margin-bottom: calc(var(--gap) * var(--space) * -1);
  margin-top: 0;
}

.nowrap {
  flex-wrap: nowrap;
}

.hstack > * {
  margin-left: calc(var(--gap) * var(--space) * 0.5);
  margin-right: calc(var(--gap) * var(--space) * 0.5);
  margin-bottom: calc(var(--gap) * var(--space));
}

.hstack-large > * + * {
  margin-left: calc(4 * var(--space));
}

.grid2 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
}

nav.header,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

body {
  background-color: var(--background-light);
}

.no-visible {
  display: none !important;
}

nav.header {
  position: relative;
  padding-top: calc(6 * var(--space));
  padding-bottom: calc(3 * var(--space));
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --border-header: var(--border);
  font-weight: 500;
  line-height: 1;
}
nav.header:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--border-header);
  max-width: var(--container-width);
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}
nav.header ul {
  display: flex;
  align-items: center;
}

.header .icon {
  font-size: 16px;
  height: 100%;
  display: block;
  margin-right: calc(1 * var(--space));
}

.header .header__home {
  display: flex;
  align-items: center;
  height: 16px;
  justify-content: flex-start;
  border-right: 1px solid var(--border-header);
  margin-right: calc(2 * var(--space));
  padding-right: calc(1 * var(--space));
  margin-top: 5px;
  margin-bottom: 5px;
}
.header .header__home a {
  height: 26px;
  display: flex;
  align-items: center;
}

.header__home .icon {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.header-light .header {
  background-color: var(--background-light);
}

.header-nav {
  height: 26px;
  margin-top: -5px;
  margin-bottom: -5px;
  flex-wrap: wrap;
  overflow: hidden;
}

.header-nav li {
  display: flex;
  align-items: center;
  height: 26px;
  white-space: nowrap;
}

.header-nav > * + * {
  margin-left: calc(6 * var(--space));
}

.header__home + li {
  margin-left: 0;
}

.header-nav li[hidden] {
  display: none;
}

.header-nav small {
  font-weight: normal;
}

.header-nav li a {
  display: flex;
  align-items: center;
}

.header_side .icon {
  display: inline;
}

.header_side a {
  display: flex;
  align-items: center;
}

.header-side__auth {
  display: flex;
}
.header-side__auth a {
  white-space: nowrap;
}
.header-side__auth .text-muted {
  margin: auto calc(1 * var(--space));
}

.header a:hover,
.header button:hover,
.header a[aria-current] {
  color: var(--contrast);
}

.card, .auth-form {
  background: var(--card-bg, var(--background-light));
  border: 1px solid var(--border);
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 3px;
  transition: 0.3s;
}

.card__link {
  display: block;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2 !important;
  border: 1px solid transparent;
  transition: 0.3s;
  border-radius: 3px;
  cursor: pointer;
}

label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.85em;
}

input:disabled {
  opacity: 0.7;
}

.form-optional {
  display: none !important;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 3px;
  color: var(--color);
  padding: calc(1.5 * var(--space)) calc(1 * var(--space));
  display: block;
  width: 100%;
  outline: none;
  min-height: 48px;
}

.form-group textarea {
  min-height: 150px;
}

.form-group label {
  display: block;
  margin-bottom: calc(1 * var(--space));
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23121c4299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
  background-size: 12px 12px;
  background-position: center right 20px;
  background-repeat: no-repeat;
}

.form-checkboxes {
  grid-column: 1/-1;
}

.form-check {
  cursor: pointer;
  position: relative;
}

.form-check input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-check label {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.form-check label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  border: 1px solid var(--border);
  background: var(--background);
  margin-right: calc(1 * var(--space));
}

.form-check label::after {
  transition: transform 0.2s;
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: 4px;
  width: 10px;
  height: 10px;
  background: var(--contrast);
  transform: scale(0);
}

.form-check input:checked + label::after {
  transform: scale(1);
}

.form-check input::after {
  content: "";
}

.form-switch {
  position: relative;
  cursor: pointer;
}
.form-switch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  min-height: auto;
}
.form-switch label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-bottom: 0 !important;
}

.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  margin-right: calc(1 * var(--space));
  transition: background 0.3s;
}
.switch::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: var(--background-light);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  transition: transform 0.3s;
}

input:checked + label .switch {
  background-color: var(--contrast);
}

input:checked + label .switch::before {
  transform: translateX(31px);
}

.form-attachment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.form-error {
  color: #fb4635;
  font-size: 0.8em;
  margin-top: 0.5em;
  line-height: 1.2;
}
.form-error * > * {
  margin-top: 0.5em;
}

.form-group input.is-invalid,
.form-group textarea.is-invalid {
  border-color: #fb4635;
}

.invalid-feedback {
  color: #fb4635;
  margin-top: calc(1 * var(--space));
  font-size: 0.9em;
}

.form-group input:focus,
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch {
  border-color: var(--contrast);
  box-shadow: 0 0 0 3px var(--contrast25);
}

button:not([class]):hover .icon-delete {
  color: var(--red);
}

.form-radio,
.form-checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border);
  transition: border 0.3s;
}
.form-radio::after,
.form-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
  pointer-events: none;
}
.form-radio + label,
.form-checkbox + label {
  cursor: pointer;
}
.form-radio.is-checked,
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-radio.is-checked::after,
.form-checkbox.is-checked::after {
  background: var(--contrast);
}
.form-radio input,
.form-checkbox input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form-checkbox {
  border-radius: 3px;
}
.form-checkbox::after {
  border-radius: 2px;
}
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-checkbox.is-checked::after {
  background: var(--contrast);
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: calc(1.6 * var(--space)) calc(2 * var(--space));
  background-color: var(--primary);
  color: #FFF;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 2px 4px #bec6cd;
  font-size: 0.9rem;
  border: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--contrast);
}
.btn:active, .btn:focus {
  box-shadow: 0 0 0 3px #F9666955;
}

.spinner {
  --size: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner span {
  display: block;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 2px solid var(--border);
  position: relative;
}
.spinner span::after {
  content: "";
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border-bottom: 2px solid var(--contrast);
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  animation: 1s spinner-border linear infinite;
  position: absolute;
  top: -2px;
  left: -2px;
}

@keyframes spinner-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.85em;
}

input:disabled {
  opacity: 0.7;
}

.form-optional {
  display: none !important;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 3px;
  color: var(--color);
  padding: calc(1.5 * var(--space)) calc(1 * var(--space));
  display: block;
  width: 100%;
  outline: none;
  min-height: 48px;
}

.form-group textarea {
  min-height: 150px;
}

.form-group label {
  display: block;
  margin-bottom: calc(1 * var(--space));
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23121c4299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
  background-size: 12px 12px;
  background-position: center right 20px;
  background-repeat: no-repeat;
}

.form-checkboxes {
  grid-column: 1/-1;
}

.form-check {
  cursor: pointer;
  position: relative;
}

.form-check input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-check label {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.form-check label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  border: 1px solid var(--border);
  background: var(--background);
  margin-right: calc(1 * var(--space));
}

.form-check label::after {
  transition: transform 0.2s;
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: 4px;
  width: 10px;
  height: 10px;
  background: var(--contrast);
  transform: scale(0);
}

.form-check input:checked + label::after {
  transform: scale(1);
}

.form-check input::after {
  content: "";
}

.form-switch {
  position: relative;
  cursor: pointer;
}
.form-switch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  min-height: auto;
}
.form-switch label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-bottom: 0 !important;
}

.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  margin-right: calc(1 * var(--space));
  transition: background 0.3s;
}
.switch::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: var(--background-light);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  transition: transform 0.3s;
}

input:checked + label .switch {
  background-color: var(--contrast);
}

input:checked + label .switch::before {
  transform: translateX(31px);
}

.form-attachment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.form-error {
  color: #fb4635;
  font-size: 0.8em;
  margin-top: 0.5em;
  line-height: 1.2;
}
.form-error * > * {
  margin-top: 0.5em;
}

.form-group input.is-invalid,
.form-group textarea.is-invalid {
  border-color: #fb4635;
}

.invalid-feedback {
  color: #fb4635;
  margin-top: calc(1 * var(--space));
  font-size: 0.9em;
}

.form-group input:focus,
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch {
  border-color: var(--contrast);
  box-shadow: 0 0 0 3px var(--contrast25);
}

button:not([class]):hover .icon-delete {
  color: var(--red);
}

.form-radio,
.form-checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border);
  transition: border 0.3s;
}
.form-radio::after,
.form-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
  pointer-events: none;
}
.form-radio + label,
.form-checkbox + label {
  cursor: pointer;
}
.form-radio.is-checked,
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-radio.is-checked::after,
.form-checkbox.is-checked::after {
  background: var(--contrast);
}
.form-radio input,
.form-checkbox input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form-checkbox {
  border-radius: 3px;
}
.form-checkbox::after {
  border-radius: 2px;
}
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-checkbox.is-checked::after {
  background: var(--contrast);
}

.auth-container {
  margin-top: calc(9 * var(--space));
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - var(--container-padding) * 2);
  max-width: 400px;
}
.auth-container .success, .auth-container .error {
  margin-bottom: calc(2 * var(--space));
}
.auth-container .success span, .auth-container .error span {
  font-size: 4rem;
}
.auth-container h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: calc(1 * var(--space));
}

.auth-form a {
  text-decoration: underline;
}
.auth-form a:hover {
  text-decoration: none;
}

.auth-title {
  margin-bottom: calc(2 * var(--space));
  font-size: 1.3em;
  font-weight: 600;
}

.auth-form {
  padding: calc(3 * var(--space));
}
.auth-form form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, clamp(350px, 100%, 800px));
  /*grid-template-row: repeat(auto-fill, 1fr);*/
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .auth-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
}
.auth-form form .full-width {
  grid-column-start: 1;
  grid-column-end: 3;
}

.auth-form > * + * {
  margin-top: calc(3 * var(--space));
}

.auth-password-forgot {
  opacity: 0.4;
}

.auth-actions {
  font-size: 0.9rem;
}

/*# sourceMappingURL=app.css.map */
