:root {
  --primary: #f96669;
  --primary-light: lighten(var(--primary), 10%);
  --primary-dark: #130809;
  --card-padding: space(2);
  --color-light: #8491c7;
  --secondary: #f7fafd;
  --contrast: #ff242a;
  --background-light: #FFFFFF;
  --color-inversed60: #effbec99;
  --background: #f7fafb;
  --border-light: var(--secondary);
  --card-footer: #f7fafd;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --success: #38ce35;
  --error: #e01313;
  --pending: #ff7b1e;
  --passed: #1c6fe1;
  --space: 8px;
  --border: #d5e3ec;
  --shadow: #d8e1e8;
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}
@media only screen and (min-width: 1370px) {
  :root {
    --container-width: 1330px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
}

form {
  display: block;
}

select,
input {
  font-size: inherit;
  font-family: inherit;
}

pre {
  font-family: monospace;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}

hr {
  height: 1px;
  background: var(--border);
  margin: 0;
  padding: 0;
  border: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex.flex-start {
  justify-content: flex-start;
}
.flex.flex-end {
  justify-content: flex-end;
}

@media (min-width: 500px) {
  .flex-md {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.w100 {
  width: 100%;
}

.hero-title {
  font-size: 52px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.hero-title strong {
  color: var(--contrast);
}
@media (max-width: 675px) {
  .hero-title {
    font-size: 45px;
  }
}

.hero-text {
  font-size: 16px;
  line-height: 35px;
}
.hero-text strong {
  font-weight: bold;
}
.hero-text a {
  text-decoration: underline;
}
@media (min-width: 600px) {
  .hero-text {
    font-size: 22px;
  }
}

.hero-infos {
  margin-top: calc(1 * var(--space));
  font-size: 12px;
  font-weight: 600;
  color: #1c6fe1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--border-light);
  padding-bottom: calc(0.5 * var(--space));
  margin-bottom: calc(2 * var(--space));
}

.h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
}
@media (min-width: 600px) {
  .h1 {
    font-size: 42px;
  }
}

.formatted h2,
.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
}

.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
.h3 strong {
  font-weight: bold;
}
.h3 .icon {
  width: 20px;
  height: 20px;
}

.h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.h5 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: auto;
}

small, .text-small {
  font-size: 0.9em;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-inversed {
  color: var(--color-inversed);
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

a.underline:hover {
  text-decoration: none;
}

.reader-only {
  display: none;
}

.text-danger {
  color: var(--red);
}

.text-muted {
  color: var(--color-light);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-big {
  font-size: 1.1em;
}

.ignore-br br {
  display: none;
}

.link {
  transition: color 0.3s;
}

.link:hover {
  color: var(--contrast);
  text-decoration: underline;
}

.link-color {
  color: var(--contrast);
  text-decoration: none !important;
}
.link-color:hover {
  text-decoration: underline #000000 !important;
}

body, input, button {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

p {
  font-size: 1rem;
  line-height: 25.6px;
}

.small-text, small {
  font-size: 0.9rem;
}

.text-success {
  color: var(--success);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-inversed {
  color: var(--color-inversed);
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

a.underline:hover {
  text-decoration: none;
}

.reader-only {
  display: none;
}

.text-danger {
  color: var(--error);
}

.text-muted {
  color: #a7b0d5;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.text-big {
  font-size: 1.1em;
}

.ignore-br br {
  display: none;
}

.link {
  transition: color 0.3s;
}

.link:hover {
  color: var(--contrast);
  text-decoration: underline;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

.accent {
  color: var(--contrast);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.show-order-page, .orders-page, .equipment, nav.header, .layout-sidebar-left, .layout-sidebar,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.container-narrow {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.ratio {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.inline {
  display: inline;
}

.flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.flex > * {
  min-width: 0;
}

.align-center-y {
  display: flex;
  align-items: center;
}

.end {
  justify-content: flex-end;
}

.stretch {
  align-items: stretch;
}

@media (min-width: 500px) {
  .flex-md {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-1 {
  display: flex;
}
.inline-1 > * + * {
  margin-left: calc(1 * var(--space));
}

.hidden {
  display: none;
}

.w100 {
  width: 100%;
}

.grid, .filter__form {
  width: 100%;
  display: grid !important;
  grid-gap: calc(2 * var(--space));
  grid-template-columns: repeat(auto-fill, minmax(var(--col, 275px), 1fr));
}

.grid2 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
}
@media (min-width: 730px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid3 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
}
@media (min-width: 730px) {
  .grid3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid.fit, .fit.filter__form {
  grid-template-columns: repeat(auto-fit, minmax(var(--col, 275px), 1fr));
}

.grid .full, .filter__form .full,
.grid2 .full {
  grid-column: 1/-1;
}

.grid .end, .filter__form .end {
  justify-content: flex-end;
}

.stack,
.stack-large,
.stack-separated {
  --gap: 2;
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  grid-gap: calc(var(--gap) * var(--space));
}
.stack > *,
.stack-large > *,
.stack-separated > * {
  min-width: 0;
}

.stack-large {
  --gap: 4;
}

.stack-separated {
  --gap: 3;
  --gap-separated: var(--gap);
  grid-gap: calc(var(--gap) * var(--space) * 2);
}

.stack-separated > * + * {
  position: relative;
}

.stack-separated > * + *::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: var(--border-light);
  top: calc(var(--gap-separated) * var(--space) * -1);
}

.hstack {
  display: flex;
  flex-wrap: wrap;
  --gap: 2;
  margin: calc(var(--gap) * var(--space) * -0.5);
  margin-bottom: calc(var(--gap) * var(--space) * -1);
  margin-top: 0;
}

.nowrap {
  flex-wrap: nowrap;
}

.hstack > * {
  margin-left: calc(var(--gap) * var(--space) * 0.5);
  margin-right: calc(var(--gap) * var(--space) * 0.5);
  margin-bottom: calc(var(--gap) * var(--space));
}

.hstack-large > * + * {
  margin-left: calc(4 * var(--space));
}

.layout-sidebar {
  --gap: 5;
  display: grid;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
}
.layout-sidebar > * {
  min-width: 0;
}
@media (min-width: 1100px) {
  .layout-sidebar {
    grid-template-columns: 1fr 300px;
  }
}

.layout-sidebar-left {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
}
.layout-sidebar-left > * {
  min-width: 0;
}
@media (min-width: 880px) {
  .layout-sidebar-left {
    grid-template-columns: 420px 1fr;
  }
}

.sticky {
  position: sticky;
  top: calc(3 * var(--space));
}

.mla {
  margin-left: auto;
}

body .p0 {
  padding: calc(0 * var(--space));
}
body .pt0 {
  padding-top: calc(0 * var(--space));
}
body .pb0 {
  padding-bottom: calc(0 * var(--space));
}
body .px0 {
  padding-left: calc(0 * var(--space));
  padding-right: calc(0 * var(--space));
}
body .py0 {
  padding-top: calc(0 * var(--space));
  padding-bottom: calc(0 * var(--space));
}
body .my0 {
  margin-top: calc(0 * var(--space));
  margin-bottom: calc(0 * var(--space));
}
body .m0 {
  margin: calc(0 * var(--space));
}
body .mx0 {
  margin-left: calc(0 * var(--space));
  margin-right: calc(0 * var(--space));
}
body .mt0 {
  margin-top: calc(0 * var(--space));
}
body .mb0 {
  margin-bottom: calc(0 * var(--space));
}
body .mr0 {
  margin-right: calc(0 * var(--space));
}
body .ml0 {
  margin-left: calc(0 * var(--space));
}

body .p1 {
  padding: calc(1 * var(--space));
}
body .pt1 {
  padding-top: calc(1 * var(--space));
}
body .pb1 {
  padding-bottom: calc(1 * var(--space));
}
body .px1 {
  padding-left: calc(1 * var(--space));
  padding-right: calc(1 * var(--space));
}
body .py1 {
  padding-top: calc(1 * var(--space));
  padding-bottom: calc(1 * var(--space));
}
body .my1 {
  margin-top: calc(1 * var(--space));
  margin-bottom: calc(1 * var(--space));
}
body .m1 {
  margin: calc(1 * var(--space));
}
body .mx1 {
  margin-left: calc(1 * var(--space));
  margin-right: calc(1 * var(--space));
}
body .mt1 {
  margin-top: calc(1 * var(--space));
}
body .mb1 {
  margin-bottom: calc(1 * var(--space));
}
body .mr1 {
  margin-right: calc(1 * var(--space));
}
body .ml1 {
  margin-left: calc(1 * var(--space));
}

body .p2 {
  padding: calc(2 * var(--space));
}
body .pt2 {
  padding-top: calc(2 * var(--space));
}
body .pb2 {
  padding-bottom: calc(2 * var(--space));
}
body .px2 {
  padding-left: calc(2 * var(--space));
  padding-right: calc(2 * var(--space));
}
body .py2 {
  padding-top: calc(2 * var(--space));
  padding-bottom: calc(2 * var(--space));
}
body .my2 {
  margin-top: calc(2 * var(--space));
  margin-bottom: calc(2 * var(--space));
}
body .m2 {
  margin: calc(2 * var(--space));
}
body .mx2 {
  margin-left: calc(2 * var(--space));
  margin-right: calc(2 * var(--space));
}
body .mt2 {
  margin-top: calc(2 * var(--space));
}
body .mb2 {
  margin-bottom: calc(2 * var(--space));
}
body .mr2 {
  margin-right: calc(2 * var(--space));
}
body .ml2 {
  margin-left: calc(2 * var(--space));
}

body .p3 {
  padding: calc(3 * var(--space));
}
body .pt3 {
  padding-top: calc(3 * var(--space));
}
body .pb3 {
  padding-bottom: calc(3 * var(--space));
}
body .px3 {
  padding-left: calc(3 * var(--space));
  padding-right: calc(3 * var(--space));
}
body .py3 {
  padding-top: calc(3 * var(--space));
  padding-bottom: calc(3 * var(--space));
}
body .my3 {
  margin-top: calc(3 * var(--space));
  margin-bottom: calc(3 * var(--space));
}
body .m3 {
  margin: calc(3 * var(--space));
}
body .mx3 {
  margin-left: calc(3 * var(--space));
  margin-right: calc(3 * var(--space));
}
body .mt3 {
  margin-top: calc(3 * var(--space));
}
body .mb3 {
  margin-bottom: calc(3 * var(--space));
}
body .mr3 {
  margin-right: calc(3 * var(--space));
}
body .ml3 {
  margin-left: calc(3 * var(--space));
}

body .p4 {
  padding: calc(4 * var(--space));
}
body .pt4 {
  padding-top: calc(4 * var(--space));
}
body .pb4 {
  padding-bottom: calc(4 * var(--space));
}
body .px4 {
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}
body .py4 {
  padding-top: calc(4 * var(--space));
  padding-bottom: calc(4 * var(--space));
}
body .my4 {
  margin-top: calc(4 * var(--space));
  margin-bottom: calc(4 * var(--space));
}
body .m4 {
  margin: calc(4 * var(--space));
}
body .mx4 {
  margin-left: calc(4 * var(--space));
  margin-right: calc(4 * var(--space));
}
body .mt4 {
  margin-top: calc(4 * var(--space));
}
body .mb4 {
  margin-bottom: calc(4 * var(--space));
}
body .mr4 {
  margin-right: calc(4 * var(--space));
}
body .ml4 {
  margin-left: calc(4 * var(--space));
}

body .p5 {
  padding: calc(5 * var(--space));
}
body .pt5 {
  padding-top: calc(5 * var(--space));
}
body .pb5 {
  padding-bottom: calc(5 * var(--space));
}
body .px5 {
  padding-left: calc(5 * var(--space));
  padding-right: calc(5 * var(--space));
}
body .py5 {
  padding-top: calc(5 * var(--space));
  padding-bottom: calc(5 * var(--space));
}
body .my5 {
  margin-top: calc(5 * var(--space));
  margin-bottom: calc(5 * var(--space));
}
body .m5 {
  margin: calc(5 * var(--space));
}
body .mx5 {
  margin-left: calc(5 * var(--space));
  margin-right: calc(5 * var(--space));
}
body .mt5 {
  margin-top: calc(5 * var(--space));
}
body .mb5 {
  margin-bottom: calc(5 * var(--space));
}
body .mr5 {
  margin-right: calc(5 * var(--space));
}
body .ml5 {
  margin-left: calc(5 * var(--space));
}

@media (min-width: 700px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 700px) {
  .mobile-hidden {
    display: none;
  }
}

.page-header {
  background-color: var(--background-light);
  padding-bottom: calc(6 * var(--space));
  padding-top: calc(6 * var(--space));
  border-bottom: 1px solid var(--border);
}
@media (min-width: 1370px) {
  .page-header {
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
  }
}

.page-header-accent {
  background-color: var(--contrast);
  padding-bottom: calc(6 * var(--space));
  padding-top: calc(6 * var(--space));
  border-bottom: 1px solid var(--border);
}
@media (min-width: 1370px) {
  .page-header-accent {
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
  }
}
.page-header-accent h1 {
  color: #FFF;
}

body {
  background-color: var(--background-light);
}

.no-visible {
  display: none !important;
}

.formatted:not[style^=display] {
  display: block !important;
}

.formatted > *:last-child {
  margin-bottom: 0 !important;
}
.formatted strong {
  font-weight: bold;
}
.formatted blockquote {
  border-left: 5px solid var(--border-light);
  color: var(--color-light);
  padding-left: 1rem;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.formatted blockquote p:last-child {
  margin-bottom: 0;
}
.formatted > *:last-child {
  margin-bottom: 0 !important;
}
.formatted details > summary {
  list-style: none;
}
.formatted details > summary::-webkit-details-marker {
  display: none;
}
.formatted a {
  text-decoration: underline;
}
.formatted a:hover {
  color: var(--contrast);
}
.formatted pre {
  margin: 2em 0;
  overflow: auto;
  border: 1px solid var(--border-light);
}
@media (min-width: 1400px) {
  .formatted pre {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.formatted p,
.formatted ul,
.formatted ol {
  margin-top: 1rem;
  margin-bottom: 30px;
}
.formatted p, .formatted ul, .formatted ol {
  line-height: 1.6;
}
.formatted p:first-child {
  margin-top: 0px !important;
}
.formatted h1,
.formatted h2,
.formatted h3 {
  color: var(--color-dark);
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.formatted h1 {
  font-size: 2em;
}
.formatted h2 {
  margin-top: calc(5 * var(--space));
  margin-bottom: 2px;
}
.formatted h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
  margin-top: calc(2 * var(--space));
  margin-bottom: 2px;
}
.formatted h4 {
  margin-top: calc(2 * var(--space));
}
.formatted ul {
  list-style: disc;
  padding-left: 19px;
}
.formatted ol {
  list-style: decimal;
  padding-left: 19px;
}
.formatted img {
  max-width: 990px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 990px) {
  .formatted img {
    max-width: 100vw;
  }
}
.formatted figure {
  padding: 0;
  margin: 30px;
  display: inline-block;
  position: relative;
}
.formatted figure.left {
  margin-left: 0;
  margin-top: 0;
}
.formatted figure.left img {
  max-width: 275px;
}
.formatted figure.right {
  margin-right: 0;
  margin-top: 0;
}
.formatted figure.right img {
  max-width: 275px;
}
.formatted figure img {
  border: 4px solid #eeeeee;
  display: block;
}
.formatted figure img[src$=".png"], .formatted figure img[src$=".svg"] {
  border: none;
}
.formatted p > code,
.formatted li > code {
  display: inline-block;
  background: var(--skeleton);
  outline: solid 1px var(--border);
  padding: 0 0.2em;
  color: var(--color-light);
}

nav.header {
  position: relative;
  padding-top: calc(6 * var(--space));
  padding-bottom: calc(3 * var(--space));
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --border-header: var(--border);
  font-weight: 500;
  line-height: 1;
}
nav.header:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--border-header);
  max-width: var(--container-width);
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}
nav.header ul {
  display: flex;
  align-items: center;
}

.header .icon {
  font-size: 16px;
  height: 100%;
  display: block;
  margin-right: calc(1 * var(--space));
}

.header .header__home {
  display: flex;
  align-items: center;
  height: 16px;
  justify-content: flex-start;
  border-right: 1px solid var(--border-header);
  margin-right: calc(2 * var(--space));
  padding-right: calc(1 * var(--space));
  margin-top: 5px;
  margin-bottom: 5px;
}
.header .header__home a {
  height: 26px;
  display: flex;
  align-items: center;
}

.header__home .icon {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.header-light .header {
  background-color: var(--background-light);
}

.header-nav {
  height: 26px;
  margin-top: -5px;
  margin-bottom: -5px;
  flex-wrap: wrap;
  overflow: hidden;
}

.header-nav li {
  display: flex;
  align-items: center;
  height: 26px;
  white-space: nowrap;
}

.header-nav > * + * {
  margin-left: calc(6 * var(--space));
}

.header__home + li {
  margin-left: 0;
}

.header-nav li[hidden] {
  display: none;
}

.header-nav small {
  font-weight: normal;
}

.header-nav li a {
  display: flex;
  align-items: center;
}

.header_side .icon {
  display: inline;
}

.header_side li > a {
  display: flex;
  align-items: center;
}

.header-side__auth {
  display: flex;
}
.header-side__auth a {
  white-space: nowrap;
}
.header-side__auth .text-muted {
  margin: auto calc(1 * var(--space));
}

.cart-btn {
  position: relative;
}
.cart-btn[data-is-filled]::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 3px;
  height: 11px;
  width: 11px;
  border-radius: 10px;
  background-color: var(--contrast);
  border: 2px solid #FFF;
}

.header__account {
  padding-left: calc(1.5 * var(--space));
  margin-left: calc(1 * var(--space));
  border-left: 1px solid var(--border-header);
}

.header li > a:hover,
.header button:hover,
.header a[aria-current] {
  color: var(--contrast);
}

.header-contrast .header {
  --border-header: rgba(255, 255, 255, 0.3);
  background-color: var(--contrast);
  color: rgba(255, 255, 255, 0.7);
}
.header-contrast .header li > a:hover,
.header-contrast .header button:hover,
.header-contrast .header a[aria-current] {
  color: white;
}

.card, .auth-form, .filter, .cart, .flat-card {
  background: var(--card-bg, var(--background-light));
  border: 1px solid var(--border);
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 3px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card a, .auth-form a, .filter a, .cart a, .flat-card a {
  position: relative;
  z-index: 3;
}
.card .icon, .auth-form .icon, .filter .icon, .cart .icon, .flat-card .icon {
  vertical-align: center;
  font-size: 12px;
}

.inCart {
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  border: 5px solid var(--contrast);
  border-radius: 8px;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
}
.inCart svg {
  position: absolute;
  top: 0;
  right: 2px;
  height: 30px;
  stroke: #FFF;
  z-index: 3;
}
.inCart::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 0;
  width: 100px;
  height: 40px;
  transform: rotate(45deg);
  background-color: var(--contrast);
}

.flat-card {
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  box-shadow: none;
  background-color: #FFFFFF;
}
.flat-card > .icon {
  font-size: 40px;
  color: var(--gray-400);
  margin-bottom: calc(2 * var(--space));
}
.flat-card .text-muted {
  line-height: 23px;
}

a.flat-card:hover {
  border-color: var(--gray-600);
}

a.flat-card:active {
  border-color: #1c6fe1;
  box-shadow: 0 0 0 3px rgba(28, 111, 225, 0.55);
  color: #1c6fe1;
}

.card__body {
  padding: calc(2 * var(--space));
}

.card__title {
  line-height: 1.3;
  font-size: 16px;
  font-weight: 700;
}
a .card__title:hover {
  color: var(--contrast);
}

.card__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 0 calc(2 * var(--space));
  font-size: 0.9rem;
  background-color: var(--card-footer);
  width: 100%;
}
.card__footer span.icon {
  display: inline;
  margin-right: 4px;
  width: 12px !important;
  overflow: hidden;
  padding: 2px 0;
  max-width: 12px;
}
.card__footer > * {
  margin-right: calc(2 * var(--space));
  color: var(--color-light);
  white-space: nowrap;
  display: block;
}
.card__footer > :last-child {
  margin-right: 0 !important;
  margin-left: auto;
}

.card__icons {
  display: flex;
  flex: none;
  align-items: center;
}

.card__link {
  display: block;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2 !important;
  border: 1px solid transparent;
  transition: 0.3s;
  border-radius: 3px;
  cursor: pointer;
}
.card__link:hover {
  border: 1px solid var(--contrast);
}

.card__pills, .card__actions {
  position: absolute;
  top: calc(2 * var(--space));
  right: calc(2 * var(--space));
  display: flex;
  align-items: center;
  z-index: 3;
}

label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.85em;
}

input:disabled {
  opacity: 0.7;
}

.form-optional {
  display: none !important;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 3px;
  color: var(--color);
  padding: calc(1.5 * var(--space)) calc(1 * var(--space));
  display: block;
  width: 100%;
  outline: none;
  min-height: 48px;
}

.form-group textarea {
  line-height: 1.5;
}

.ts-control {
  padding: calc(1.5 * var(--space)) calc(1 * var(--space)) !important;
  background: var(--background);
  border: 1px solid var(--border);
}

.ts-control input {
  width: auto;
  font-size: 1rem !important;
  line-height: normal !important;
}

.form-group textarea {
  min-height: 150px;
}

.form-group label {
  display: block;
  margin-bottom: calc(1 * var(--space));
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 12px 12px;
  background-position: center right 20px;
  background-repeat: no-repeat;
}

.form-group select:not([multiple]) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23121c4299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

.form-checkboxes {
  grid-column: 1/-1;
}

.form-check {
  cursor: pointer;
  position: relative;
}

.form-check input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-check label {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.form-check label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  border: 1px solid var(--border);
  background: var(--background);
  margin: 0;
  margin-right: calc(1 * var(--space));
}

.form-check label::after {
  transition: transform 0.2s;
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: 4px;
  width: 10px;
  height: 10px;
  margin: 0;
  background: var(--contrast);
  transform: scale(0);
}

.form-check input:checked + label::after {
  transform: scale(1);
}

.form-check input::after {
  content: "";
}

.form-check-label {
  margin-bottom: 0;
}

.form-switch {
  position: relative;
  cursor: pointer;
}
.form-switch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  min-height: auto;
}
.form-switch label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-bottom: unset !important;
}

.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  margin-right: calc(1 * var(--space));
  transition: background 0.3s;
}
.switch::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: var(--background-light);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  transition: transform 0.3s;
}

input:checked + label .switch {
  background-color: var(--contrast);
}

input:checked + label .switch::before {
  transform: translateX(31px);
}

.form-attachment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.form-error {
  color: #fb4635;
  font-size: 0.8em;
  margin-top: 0.5em;
  line-height: 1.2;
}
.form-error * > * {
  margin-top: 0.5em;
}

.form-group input.is-invalid,
.form-group textarea.is-invalid {
  border-color: #fb4635;
}

.invalid-feedback {
  color: #fb4635;
  margin-top: calc(1 * var(--space));
  font-size: 0.9em;
}

.form-group input:focus,
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch {
  border-color: var(--contrast);
  box-shadow: 0 0 0 3px var(--contrast25);
}

button:not([class]):hover .icon-delete {
  color: var(--red);
}

.form-radio,
.form-checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border);
  transition: border 0.3s;
}
.form-radio::after,
.form-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
  pointer-events: none;
}
.form-radio + label,
.form-checkbox + label {
  cursor: pointer;
}
.form-radio.is-checked,
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-radio.is-checked::after,
.form-checkbox.is-checked::after {
  background: var(--contrast);
}
.form-radio input,
.form-checkbox input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form-checkbox {
  border-radius: 3px;
}
.form-checkbox::after {
  border-radius: 2px;
}
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-checkbox.is-checked::after {
  background: var(--contrast);
}

/*.btn{
  display: inline-block;
  text-decoration: none;
  padding: space(1.6) space(2);
  background-color: var(--primary);
  color: #FFF;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 2px 4px #bec6cd;
  font-size: .9rem;
  border: none;
  font-family: 'Inter', sans-serif;
  cursor: pointer;

  &:hover{
    background-color: var(--contrast);
  }

  &:active, &:focus{
    box-shadow: 0 0 0 3px #F9666955;
  }

}*/
.filter-btn, .btn-discord, .btn-social, .btn-secondary, .btn-danger, .btn-white-outlined, .btn-primary-outlined, .btn-primary, .btn-gradient {
  text-decoration: none !important;
  padding: 9px 16px;
  border: none;
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(36, 57, 141, 0.4);
  border-radius: 4px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: filter 0.3s, background 0.3s, color 0.3s;
  font-size: 0.9em;
  filter: brightness(1);
  white-space: nowrap;
  /*  .icon {
      width: 16px;
      height: 16px;
      margin-right: space(1);
    }*/
}
[disabled].filter-btn, [disabled].btn-discord, [disabled].btn-social, [disabled].btn-secondary, [disabled].btn-danger, [disabled].btn-white-outlined, [disabled].btn-primary-outlined, [disabled].btn-primary, [disabled].btn-gradient {
  cursor: default;
  filter: grayscale(1);
  opacity: 0.7;
}
.filter-btn:hover[disabled], .btn-discord:hover[disabled], .btn-social:hover[disabled], .btn-secondary:hover[disabled], .btn-danger:hover[disabled], .btn-white-outlined:hover[disabled], .btn-primary-outlined:hover[disabled], .btn-primary:hover[disabled], .btn-gradient:hover[disabled] {
  filter: grayscale(1);
}
.filter-btn:hover, .btn-discord:hover, .btn-social:hover, .btn-secondary:hover, .btn-danger:hover, .btn-white-outlined:hover, .btn-primary-outlined:hover, .btn-primary:hover, .btn-gradient:hover {
  filter: brightness(1.2);
}
.filter-btn .feather, .btn-discord .feather, .btn-social .feather, .btn-secondary .feather, .btn-danger .feather, .btn-white-outlined .feather, .btn-primary-outlined .feather, .btn-primary .feather, .btn-gradient .feather {
  height: 110%;
  width: 100%;
}

.btn-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%) var(--contrast);
}

.btn-primary {
  background: var(--contrast);
  border: solid 1px var(--contrast);
}

.btn-primary-outlined {
  border: 1px solid var(--contrast);
  color: var(--contrast);
  box-shadow: none;
}
.btn-primary-outlined:hover {
  filter: none;
  background: var(--contrast);
  color: #fff;
}

.btn-white-outlined {
  border: 1px solid currentColor;
  box-shadow: none;
}
.btn-white-outlined:hover {
  filter: none;
  background: rgba(255, 255, 255, 0.1);
}

.btn-danger {
  background: var(--red);
}

.btn-secondary {
  font-weight: normal;
  color: var(--color) !important;
  background: #ffff;
  border: 1px solid var(--border) !important;
}
.btn-secondary:focus, .btn-secondary.active, .btn-secondary[aria-expanded=true] {
  color: var(--contrast);
  border-color: var(--contrast) !important;
}

.btn-big, .btn-block {
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 700;
  white-space: initial;
}
@media (min-width: 1100px) {
  .btn-big, .btn-block {
    font-size: 18px;
  }
}
.btn-big .icon, .btn-block .icon {
  margin-right: calc(2 * var(--space));
  font-size: 1.2rem;
}

.btn-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-small {
  padding: 5px 10px;
  font-size: 0.8em;
}

.btn-group {
  display: inline-flex;
}
.btn-group > .active {
  z-index: 2;
  position: relative;
}
.btn-group > * {
  z-index: 1;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}
.btn-group > *:first-child {
  border-radius: 4px 0 0 4px;
}

.stack > button {
  justify-self: flex-start;
}

.rounded-button {
  box-sizing: content-box;
  width: 37px;
  height: 37px;
  border-radius: 37px;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  z-index: 0;
}
.rounded-button::after {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  z-index: -1;
  border-radius: 50%;
  background: var(--icon-background);
}
.rounded-button::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--icon-background);
  content: "";
  border-radius: 37px;
  z-index: -1;
  transition: transform 0.3s;
  opacity: 0.2;
}
.rounded-button .icon {
  width: 14px;
  height: 14px;
}
.rounded-button:hover::before {
  transform: scale(1.2);
}
.rounded-button:disabled {
  opacity: 0.4;
}

.rounded-button.warning::after {
  border-radius: 0;
}
.rounded-button.warning::before {
  background: var(--border-light);
  opacity: 1;
}

.rounded-button.danger {
  --icon-background: var(--red);
}

.rounded-button.success {
  --icon-background: var(--green);
}

.btn-social {
  text-align: center;
  display: block;
  padding: 12px 16px;
  border-radius: 3px;
  position: relative;
}
.btn-social .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(2 * var(--space));
}

.btn-discord {
  background: #7289da;
}

.btn-github {
  color: #FFF;
  background: #444;
}

.btn-google {
  color: #FFF;
  background: #dd4b39;
}

.btn-facebook {
  color: #FFF;
  background: #47639e;
}

.filter-btn {
  box-shadow: none;
  color: var(--gray-500);
}
.filter-btn:hover {
  color: #000;
  background-color: #FFF;
}

.spinner {
  --size: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner span {
  display: block;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 2px solid var(--border);
  position: relative;
}
.spinner span::after {
  content: "";
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border-bottom: 2px solid var(--contrast);
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  animation: 1s spinner-border linear infinite;
  position: absolute;
  top: -2px;
  left: -2px;
}

@keyframes spinner-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table {
  width: 100%;
  line-height: 1.2;
  border-collapse: collapse;
  color: var(--primary-dark);
}
.table .action-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.table .action-container .action-btn, .table .action-container button {
  border: none;
  background: none;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
}
.table .action-container .action-btn .icon, .table .action-container button .icon {
  color: #bbbbbe;
}
.table .action-container .action-btn:hover .icon, .table .action-container button:hover .icon {
  color: #000;
}
.table a {
  text-decoration: none;
  color: var(--primary-dark);
}
.table a:hover {
  color: var(--primary);
}

.table img {
  height: 45px;
}

.table thead th {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 0.9em;
  text-align: left;
}

.table thead th svg {
  opacity: 1;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
}

.table .desc svg {
  transform: scaleY(-1);
}

.table thead th:last-child {
  text-align: right;
}

.table td {
  vertical-align: middle;
  padding: 16px 16px 16px 0;
}

.table td:last-child {
  text-align: right;
  padding-right: 0;
}

.table tbody tr {
  border-bottom: 1px solid #f3f3f3;
}

.table a:not([class^=btn]) svg, .table button:not([class^=btn]) svg {
  display: block;
  width: 16px;
  height: 16px;
  opacity: 0.15;
  transition: 0.3s;
}
.table a:not([class^=btn]) svg:hover, .table button:not([class^=btn]) svg:hover {
  opacity: 1;
}

.table a:not([class^=btn]):hover {
  color: #f96669;
}

.table tbody > a {
  display: table-row;
  text-decoration: none;
  color: var(--primary-dark);
}
.table tbody > a:hover {
  color: var(--primary);
}

.table .checkbox label {
  display: flex;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.table .checkbox label span {
  display: none;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  font-size: 15px;
}
.table .checkbox input:checked ~ label {
  background-color: var(--primary);
}
.table .checkbox input:checked ~ label span {
  display: block;
  color: #FFF;
}

.badge {
  display: inline-flex;
  align-items: center;
  background-color: var(--background);
  padding: 0.25em 0.6em;
  border-radius: 10rem;
  font-size: 75%;
  line-height: 1;
}
.badge .icon {
  margin-right: calc(1 * var(--space));
}

.pill {
  flex: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: calc(1 * var(--space)) calc(2 * var(--space));
  color: var(--contrast);
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
}
.pill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: currentColor;
  opacity: 0.1;
  transition: opacity 0.3s;
  z-index: -1;
}

a.pill:hover::after {
  opacity: 0.2;
}

.pill svg {
  width: 16px;
  height: 16px;
  margin-right: calc(1 * var(--space));
}

.pill.small-round, .pill.small {
  font-size: 11px;
  height: 18px;
  padding: 0 5px;
  font-weight: normal;
  line-height: 18px;
}
.pill.small-round .icon, .pill.small .icon {
  transform: none;
  vertical-align: middle;
  margin-right: calc(0.5 * var(--space));
  display: block;
  width: 12px;
  height: 12px;
}

.pill.small {
  border-radius: 3px;
}

.pill.small-round {
  padding-left: calc(1 * var(--space));
  padding-right: calc(1 * var(--space));
}

.pill-primary {
  color: var(--primary);
}

.pill-green {
  color: var(--success);
}

.pill-yellow {
  color: var(--yellow);
}

.pill-red {
  color: var(--error);
}

.pill-grey {
  color: var(--color-light);
}
.pill-grey::after {
  opacity: 1;
  background-color: var(--border-light);
}

.pill-darkgrey {
  color: #fff;
}
.pill-darkgrey::after {
  opacity: 1;
  background-color: #9fb3c8;
}

.breadcrumb {
  height: calc(6 * var(--space));
  color: var(--color-light);
  font-size: 0.8em;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
.breadcrumb .icon {
  font-size: 1em;
}

.cart {
  position: absolute;
  top: calc(100% + 10px);
  left: calc(100% - 160px);
  width: 300px;
  z-index: 100;
  font-size: 14px;
  color: var(--primary-dark);
  line-height: 1.4;
  opacity: 0;
  visibility: hidden;
}
.cart.visible {
  top: calc(100% + 20px);
  opacity: 1;
  visibility: visible;
}
.cart::after, .cart::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: calc(50% - 6px);
  width: 0;
  height: 0;
  z-index: 1;
  border-bottom: 10px solid #FFF;
  border-right: 10px solid #0000;
  border-left: 10px solid #0000;
}
.cart::before {
  top: -11px;
  border-bottom-width: 11px;
  border-right-width: 12px;
  border-left-width: 12px;
  right: calc(50% - 8px);
  border-bottom-color: #d5e3ec;
  z-index: -1;
}

.cart__header {
  padding: calc(1.5 * var(--space)) 0;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid var(--border);
}

.cart__body {
  max-height: 300px;
  overflow: auto;
  font-weight: 400;
}
.cart__body .cart-item {
  display: block;
  padding: calc(2 * var(--space));
  border-bottom: 1px solid var(--border-light);
}
.cart__body .cart-item strong {
  font-weight: 700;
}
.cart__body .cart-item small {
  font-weight: 300;
}
.cart__body a.cart-item:hover {
  background-color: var(--background);
  color: var(--contrast);
}

.header__cart {
  position: relative;
}

.list-group > :first-child {
  border-top: 1px solid var(--border);
}
.list-group > * {
  position: relative;
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--border);
  transition: 0.2s;
}
.list-group > *:hover {
  background-color: var(--background-light);
  padding-left: calc(1 * var(--space));
}

.dots {
  --size: 5px;
  display: flex;
  gap: calc(1 * var(--space));
  max-width: 60px;
  align-items: center;
  justify-content: center;
}

.dot {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--dot-color);
}

flash-message {
  position: fixed;
  left: calc(3 * var(--space));
  width: fit-content;
  transition-duration: 0.4s;
  bottom: -100%;
  visibility: hidden;
  background-color: var(--background-light);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: calc(1 * var(--space)) 0;
}
flash-message > div {
  display: flex;
  align-items: center;
  color: #272727;
  font-weight: 500;
  padding: calc(1.5 * var(--space)) calc(3 * var(--space)) calc(1.5 * var(--space)) calc(2 * var(--space));
  margin-left: calc(1 * var(--space));
  position: relative;
}
flash-message > div::before {
  content: "";
  height: 80%;
  width: 3px;
  background-color: var(--flash-color);
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
flash-message.visible {
  bottom: calc(3 * var(--space));
  visibility: visible;
}
flash-message span {
  word-break: keep-all;
}
flash-message .icon {
  height: 35px;
  width: 35px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: calc(2 * var(--space));
}
flash-message .icon svg {
  stroke: var(--flash-color);
}

.filters {
  position: relative;
}
.filters.open .filter-btn {
  background-color: #FFFFFF;
  color: #000;
}
.filters.open .filter {
  transform: scale(1);
  opacity: 1;
}

.filter {
  display: flex;
  transform: scale(0);
  opacity: 0;
  position: absolute;
  right: 0;
  z-index: 4;
  min-width: 400px;
  margin-top: calc(1 * var(--space));
  transition-duration: 0.1s;
  transition-property: transform, opacity;
  transform-origin: top right;
}
.filter > * {
  padding: calc(2 * var(--space)) calc(2 * var(--space));
}

.filter__header {
  border-bottom: 1px solid var(--border-light);
}

.alert-warning {
  max-width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-left: 4px solid;
  border-radius: 4px;
  overflow-y: hidden;
  height: var(--body-height);
  transition-duration: 0.2s;
}
.alert-warning .alert-header {
  display: flex;
  align-items: center;
  padding-bottom: calc(1.2 * var(--space));
}
.alert-warning .alert-header .alert-minimize {
  margin-left: auto;
}
.alert-warning .alert-header .alert__minimize-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 25px;
  width: 25px;
  background-color: #f1f1f1;
  border-radius: 50%;
}
.alert-warning .alert-header .alert__minimize-btn svg {
  height: 17px;
  transition-duration: 0.2s;
}
.open.alert-warning .alert-body {
  opacity: 1;
}
.open.alert-warning svg {
  transform: rotate(180deg);
}
.alert-warning .alert__title {
  display: flex;
  align-items: center;
}
.alert-warning .alert__title .alert__title-title {
  font-weight: 600;
  margin-left: calc(1 * var(--space));
  font-size: 0.9375rem;
}
.alert-warning .alert-body {
  opacity: 0;
  transition-duration: 0.2s;
}
.alert-warning .alert-body p {
  font-size: 0.8125rem;
  line-height: 1.2;
}
.alert-warning > * {
  padding: 0 calc(1.5 * var(--space));
}
.alert-warning > div:last-child {
  padding-bottom: calc(1.2 * var(--space));
}
.alert-warning > div:first-child {
  padding-top: calc(1.2 * var(--space));
}

.alert-warning {
  border-color: #f5bd41;
}
.alert-warning .alert__title .icon {
  color: #f5bd41;
}

.beta-banner {
  position: absolute;
  right: 0;
  top: 0;
  height: 100px;
  width: 100px;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}
.beta-banner .beta__banner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.beta-banner span {
  position: absolute;
  right: -80px;
  width: 200px;
  height: 40px;
  padding-top: 14px;
  top: 0;
  transform: rotate(45deg);
  background-color: var(--contrast);
  text-align: center;
  color: #FFF;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

article.order {
  background-color: var(--background-light);
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  display: flex;
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
  transition-duration: 0.2s;
  transition-property: box-shadow;
}
article.order:hover {
  box-shadow: 0 8px 25px rgba(51, 51, 51, 0.3);
}
article.order > * {
  padding: calc(3 * var(--space)) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article.order > * .order-col__title {
  color: #7d828a;
  font-size: 0.8rem;
  margin-bottom: calc(1 * var(--space));
}
article.order > * .order-col__value {
  font-weight: 600;
}
article.order > :last-child {
  align-items: flex-end;
  padding-right: calc(3 * var(--space));
  max-width: 50px;
  justify-content: center;
}
article.order > :last-child a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  border-radius: 50%;
}
article.order > :last-child a svg {
  stroke: #343a40;
  height: 15px;
}
article.order > :first-child {
  padding-left: calc(3 * var(--space));
}

.order-dl-btn {
  display: inline-flex;
  align-items: center;
  color: #2a0708;
  border-radius: 20px;
  padding-right: 5px;
  transform: translateY(6px);
}
.order-dl-btn:hover {
  background-color: rgba(255, 60, 60, 0.16);
  box-shadow: 0 0 0 7px rgba(255, 60, 60, 0.16);
}
.order-dl-btn svg {
  height: 22px;
  padding-bottom: 1px;
  fill: rgba(255, 60, 60, 0.16);
  stroke: #2a0708;
}

label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.85em;
}

input:disabled {
  opacity: 0.7;
}

.form-optional {
  display: none !important;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 3px;
  color: var(--color);
  padding: calc(1.5 * var(--space)) calc(1 * var(--space));
  display: block;
  width: 100%;
  outline: none;
  min-height: 48px;
}

.form-group textarea {
  line-height: 1.5;
}

.ts-control {
  padding: calc(1.5 * var(--space)) calc(1 * var(--space)) !important;
  background: var(--background);
  border: 1px solid var(--border);
}

.ts-control input {
  width: auto;
  font-size: 1rem !important;
  line-height: normal !important;
}

.form-group textarea {
  min-height: 150px;
}

.form-group label {
  display: block;
  margin-bottom: calc(1 * var(--space));
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 12px 12px;
  background-position: center right 20px;
  background-repeat: no-repeat;
}

.form-group select:not([multiple]) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23121c4299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

.form-checkboxes {
  grid-column: 1/-1;
}

.form-check {
  cursor: pointer;
  position: relative;
}

.form-check input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-check label {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.form-check label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  border: 1px solid var(--border);
  background: var(--background);
  margin: 0;
  margin-right: calc(1 * var(--space));
}

.form-check label::after {
  transition: transform 0.2s;
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: 4px;
  width: 10px;
  height: 10px;
  margin: 0;
  background: var(--contrast);
  transform: scale(0);
}

.form-check input:checked + label::after {
  transform: scale(1);
}

.form-check input::after {
  content: "";
}

.form-check-label {
  margin-bottom: 0;
}

.form-switch {
  position: relative;
  cursor: pointer;
}
.form-switch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  min-height: auto;
}
.form-switch label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-bottom: unset !important;
}

.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  margin-right: calc(1 * var(--space));
  transition: background 0.3s;
}
.switch::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: var(--background-light);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  transition: transform 0.3s;
}

input:checked + label .switch {
  background-color: var(--contrast);
}

input:checked + label .switch::before {
  transform: translateX(31px);
}

.form-attachment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.form-error {
  color: #fb4635;
  font-size: 0.8em;
  margin-top: 0.5em;
  line-height: 1.2;
}
.form-error * > * {
  margin-top: 0.5em;
}

.form-group input.is-invalid,
.form-group textarea.is-invalid {
  border-color: #fb4635;
}

.invalid-feedback {
  color: #fb4635;
  margin-top: calc(1 * var(--space));
  font-size: 0.9em;
}

.form-group input:focus,
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch {
  border-color: var(--contrast);
  box-shadow: 0 0 0 3px var(--contrast25);
}

button:not([class]):hover .icon-delete {
  color: var(--red);
}

.form-radio,
.form-checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border);
  transition: border 0.3s;
}
.form-radio::after,
.form-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
  pointer-events: none;
}
.form-radio + label,
.form-checkbox + label {
  cursor: pointer;
}
.form-radio.is-checked,
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-radio.is-checked::after,
.form-checkbox.is-checked::after {
  background: var(--contrast);
}
.form-radio input,
.form-checkbox input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form-checkbox {
  border-radius: 3px;
}
.form-checkbox::after {
  border-radius: 2px;
}
.form-checkbox.is-checked {
  border-color: var(--contrast);
}
.form-checkbox.is-checked::after {
  background: var(--contrast);
}

.auth-container {
  margin-top: calc(9 * var(--space));
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - var(--container-padding) * 2);
  max-width: 400px;
}
.auth-container .success, .auth-container .error {
  margin-bottom: calc(2 * var(--space));
}
.auth-container .success span, .auth-container .error span {
  font-size: 4rem;
}
.auth-container h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: calc(1 * var(--space));
}

.auth-form a {
  text-decoration: underline;
}
.auth-form a:hover {
  text-decoration: none;
}

.auth-title {
  margin-bottom: calc(4 * var(--space));
}

.auth-form {
  padding: calc(3 * var(--space));
}
.auth-form form section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, clamp(350px, 100%, 800px));
  /*grid-template-row: repeat(auto-fill, 1fr);*/
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .auth-form form section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
}
.auth-form form section .full-width {
  grid-column-start: 1;
  grid-column-end: 3;
}

.auth-password-forgot {
  opacity: 0.4;
}

.auth-actions {
  font-size: 0.9rem;
}

.header__account {
  margin-right: calc(2 * var(--space));
}

.profil-header {
  text-align: center;
}
.profil-header .profil-header__body p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
}
.profil-header .profil-header__avatar {
  width: 110px;
  height: 110px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .profil-header {
    text-align: left;
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    grid-gap: calc(2 * var(--space));
  }
  .profil-header .profil-header__avatar {
    margin-left: 0;
  }
  .profil-header .profil-header__body p {
    justify-content: flex-start;
  }
}
.hardware {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  grid-gap: calc(4 * var(--space));
  grid-auto-flow: dense;
}

.equipment-hero {
  grid-column: 1/3;
}
.equipment-hero > * + * {
  margin-top: 20px;
}

.equipment__icon {
  display: inline-block;
  height: 40px;
  width: 40px;
}
.equipment__icon img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.equipment {
  --gap: 5;
  display: grid;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
}
.equipment > * {
  min-width: 0;
}
@media (min-width: 1100px) {
  .equipment {
    grid-template-columns: 600px 1fr;
  }
}

.equipment-page {
  background-color: var(--background-light);
  border-top: 1px solid var(--border);
}

.support .support-hero {
  text-align: center;
}

.support section {
  padding: calc(4 * var(--space));
  max-width: 680px;
  margin: calc(3 * var(--space)) auto;
}
.support section h2 {
  margin-bottom: calc(2 * var(--space));
}

.orders-page {
  display: grid;
  grid-gap: calc(8 * var(--space));
  grid-template-columns: 1fr;
}
@media (min-width: 800px) {
  .orders-page {
    grid-template-columns: 190px 1fr;
  }
}

.orders-page .orders-status a {
  display: flex;
  align-items: center;
  padding: calc(1 * var(--space)) calc(1 * var(--space));
  transition: color 0.2s;
}
.orders-page .orders-status a:hover {
  color: var(--contrast);
}
.orders-page .orders-status a span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: calc(1 * var(--space));
}

.show-order-page .order-card {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  border-radius: 20px;
  transform: translateY(-150px);
}

body {
  height: 100vh;
  background-color: var(--background);
  word-break: break-word;
}

/*# sourceMappingURL=app.css.map */
