@import "vars";


@import "reset";
@import "functions";
@import "responsive";
@import "global";
@import "typography";
@import "layouts";
@import "formatted";
@import "components/components";
@import "components/form";

//Pages
@import "pages/auth";
@import "pages/profil";
@import "pages/hardware";
@import "pages/support";
@import "pages/orders";
@import "pages/message";

body{
  height: 100vh;
  background-color: var(--background);
  word-break: break-word;
}

.bodyLight{
}

