<form method="post" class="form-button" action="{{ path('admin.category.delete', {'id': category.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="small-btn-danger icon-btn">{{ feather('trash') }}</button>
</form>
