<form method="post" class="form-button" action="{{ path('admin.category.delete', {'id': category.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="small-btn-danger icon-btn">{{ icon('delete') }}</button>
</form>
