.hardware{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  grid-gap: space(4);
  grid-auto-flow: dense;
}

.equipment-hero{
  grid-column: 1/3;

  &>*+*{
    margin-top: 20px;
  }
}

.equipment__icon{
  display: inline-block;
  height: 40px;
  width: 40px;

  img{
    display: block;
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.equipment{
  @extend %container;
  --gap: 5;
  display: grid;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;

  & > * {
    min-width: 0;
  }

  @include up(1100) {
    grid-template-columns: 600px 1fr;
  }
}

.equipment-page{
  background-color: var(--background-light);
  border-top: 1px solid var(--border) ;
}

.cart-form{
  display: flex;
  position: relative;

  .form-error {
    position: absolute;
    top: 100%;

    p{
      font-size: .8rem;
    }
  }

  input[type=number] {
    width: 3.5em;
    height: 100%;
    border-radius: 8px 0 0 8px;
    border: 3px solid var(--border);
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: space(1.5);

    &:focus {
      background-color: var(--background-light);
    }

    &.is-invalid {
      color: red;
      border: 3px solid red;
    }

  }

  button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}