<form method="post" class="form-button" action="{{ path('admin.cabinet.delete', {'id': cabinet.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cabinet.id) }}">
    <button class="small-btn-danger icon-btn" type="submit">{{ feather('trash') }}</button>
</form>