{% if app.user.cart.contains(equipment) %}
    <form action="{{ path("user.cart.remove", {id: equipment.id}) }}" method="POST" class="form-button">
        <button class="btn-gradient btn-big">{{ icon('remove_shopping_cart') }}Retirer du panier</button>
    </form>
{% else %}
    <form action="{{ path("user.cart.add", {id: equipment.id}) }}" method="POST" class="form-button">
        <button class="btn-gradient btn-big">{{ icon('shopping_cart') }}Ajouter au panier</button>
    </form>
{% endif %}