<article class="order">
    <div class="order-col">
        <div class="order-col__title">
            <span>ID</span>
        </div>
        <div class="order-col__value">
            <h5>000002</h5>
        </div>
    </div>
    <div class="order-col">
        <div class="order-col__title">
            <span>Nom du projet</span>
        </div>
        <div class="order-col__value">
            <h5>Portfolio</h5>
        </div>
    </div>

    <div class="order-col">
        <div class="order-col__title">
            <span>Date de création</span>
        </div>
        <div class="order-col__value">
            <h5>3 mars 2022</h5>
        </div>
    </div>

    <div class="order-col">
        <div class="order-col__title">
            <span>Bon de commande</span>
        </div>
        <div class="order-col__value">
            <a href="#" class="order-dl-btn">{{ feather('clipboard') }} Télécharger</a>
        </div>
    </div>

    <div class="order-col">
        <div class="order-col__title">
            <span>Statut</span>
        </div>
        <div class="order-col__value">
            <span class="pill small-round">Terminée</span>
        </div>
    </div>

    <div class="order-col">
        <a href="#" class="order-btn">{{ feather('chevron-right') }}</a>
    </div>
</article>