<form method="post" class="form-button" action="{{ path('admin.brand.delete', {'id': brand.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brand.id) }}">
    <button class="small-btn-danger icon-btn" type="submit">{{ feather('trash') }}</button>
</form>