{% extends 'admin_base.html.twig' %}

{% block title %}Nouvelle marque{% endblock %}

{% block body %}
    <div class="container">
        {% include 'admin/_admin-page_header.html.twig' with {
            icon: 'copyright',
            title: 'Ajouter une marque',
        } %}
        <div class="content">
            {{ include('admin/brand/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
