<form method="post" class="form-button" action="{{ path('admin.type.delete', {'id': type.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="small-btn-danger icon-btn" type="submit">{{ icon('delete') }}</button>
</form>