{{ form_start(form, {attr: {class: 'stacked'}}) }}
<section class="stack-large">
    <section>
        <div class="section-title">
            Nouveau bloc
        </div>
        <div class="grid">
            {{ form_row(form.name) }}
            {{ form_row(form.position) }}
        </div>
        <button type="submit" class="btn-gradient">Ajouter</button>
    </section>
</section>
{{ form_end(form) }}