{% extends 'admin_base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="admi-page__page-header">
            <div class="title">
            <span class="icon material-icons-round">
                settings
            </span>
                <h1>Réglages</h1>
            </div>
        </div>
        <div class="p2">
            <div class="grid">
                <div class="action-card">
                    <div class="action-card__title">
                        <h5>Réinitialiser le site</h5>
                    </div>
                    <div class="action-card__btn">
                        <a href="#" class="action-btn">
                            Réinitialisé
                        </a>
                    </div>
                </div>

                {% for setting in settings %}

                    <div class="action-card">
                        <div class="action-card__title">
                            <h5>{{ setting.name }}</h5>
                        </div>
                        <div class="action-card__btn">
                            <form action="{{ path('admin.settings.switch', {'id': setting.id}) }}" method="post" class="form-button">
                                <button class="action-btn{% if setting.isActive is same as(false) %} disabled-btn{% endif %}">
                                    {% if setting.isActive is same as(false) %}Desactivé{% else %}Activé{% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}